h1 {
    border: 2px solid #ccc;
    margin-top: 0px;
    padding: 10px;
    /* position: relative; */
}


.n1 {
    position: relative;
    background: lightblue;
    top: 60px;
    z-index: 2;
}

.n2 {
    background: lightblue;
    position: absolute;
    z-index: 1;
}